<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu navegacion</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af15331ceb.js" crossorigin="anonymous"></script>
    <script type="module" src="/src/js/bienvenida/welcome.js"></script>
</head>

<body>
    <header-puma></header-puma>
    <nav-puma></nav-puma>
    <contentcards-puma></contentcards-puma>
    <contentcardsd-puma></contentcardsd-puma>
</body>
</html>